.home-container{
    padding: 10vw;
    text-align: center;
}

.popular-container{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline-start: 0;
    li{
        cursor: pointer;
    }
}

.home-title{
    font-size: xxx-large;
    margin-bottom: 0;
}

