.home-container{
    padding: 10vw;
    text-align: center;
}

.popular-container{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline-start: 0;
}
.search-input{
    margin: 2em 0;
    width: 70vw;
    height: 2.5rem;
    border-radius: 20px;
    padding: 5px;
    border: lightgray 1.5px solid;
}

.home-title{
    font-size: xxx-large;
    margin-bottom: 0;
}