.footer-container{
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    margin-top: 1em;
    background-color: $clrGray;
    border-top: 0.5px solid darken($clrGray, $amount: 10%);
}