.search-input{
    margin: 2em 0;
    width: 40vw;
    min-width: min-content;
    height: 2.5rem;
    border-radius: 20px;
    padding: 5px;
    border: lightgray 1.5px solid;
    box-shadow: 0px 0px 7px 0px lightgrey;
}
.search-btn{
    display: block;
    margin: auto;
}
.search-btn:hover{
    cursor: pointer;
}