.container {
    padding-inline: 8vw;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

.btn{
    background-color: $clrGray;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover{
    border-inline: 2px solid darken($clrGray, $amount: 10%);
}

.blue {
    color: $clrBlue;
}

.green {
    color: $clrGreen;
}

.red {
    color: $clrRed;
}

.yellow {
    color: $clrYellow
}

.black {
    color: $clrBlack;
}

.white {
    color: $clrWhite;
}

.gray{
    color: $clrGray;
}